/*style du carré central*/
#carre
{
	width:50%;
	height:70%;
	border: 5px dashed #FFFFFF ;
	margin:auto;
	position:absolute;
	top:15%;
	left: 30%;
	border-radius : 1em;
	background-color: rgba(107,13,13,0.8);
}
#carre h1
{
	color:white;
	font-family : 'Calligraffitti', cursive;
	font-size : 5vh;
	text-align:center;
}
#carre img
{
	position:relative;
	left:32%;
	top:5vh;
}


/*position du pied de page*/
#findepage
{
	bottom:0;
}
@media only screen and (max-device-width:800px){
	/*changement du carré central pour téléphone*/
	#carre
	{
		width:75%;
		height:60%;
		border: 5px dashed #FFFFFF ;
		margin:auto;
		position:absolute;
		top:22%;
		left: 10%;
		border-radius : 1em;
		background-color: rgba(107,13,13,0.8);
	}
	#carre h1
	{
		color:white;
		font-family : 'Calligraffitti', cursive;
		font-size :4vh;
		text-align:center;
	}
	#carre img
	{
		position:relative;
		left:20%;
		top:5vh;
		width:60%;
	}
}