/* empecher l'affichage du menu défilant sur cette page sur un écran d'ordinateur*/
nav
{
	display:none;
}


/* style du carré central*/
#carre
{
	width:50%;
	height:70%;
	background-color:rgba(0,0,0,0.8);
	margin:auto;
	position:absolute;
	top:15%;
	left: 30%;
	z-index:1;
	border-radius:0.5em;
	border: 3px white solid;
}

#titre1
{
	color:white;
	text-align:center;
	font-size : 3vh;
	font-family: 'Roboto Condensed', sans-serif;
}


/* style du formulaire*/
label
{
	color:white;
	font-family: 'Roboto Condensed', sans-serif;
}
form p
{
	color:white;
	margin-left:3%;
}

#garniture label
{
	display:inline-block;
	margin:1%;
}
#garniture input
{
	display:inline;
	
}
#taille
{
	text-align:center;
	font-size:2.5vh;
	font-family: 'Roboto Condensed', sans-serif;
}
#garniture
{
	font-size:2.5vh;
	color:white;
	margin-left:3%;
	font-family: 'Roboto Condensed', sans-serif;
}
#garniture p
{
	margin:0;
}


/*style du bouton valider*/
#validation
{
	position:relative;
	top:-2vh;
	left:65%;
	height:8%;
	border-radius : 0.5em;
	font-family: 'Orbitron', sans-serif;
	background-color : #6E6E6E;
	border-color : #6E6E6E;
	color :white;
}
#validation:hover
{
	height : 5vh;
	background-color : #DF013A;
}


/*style du texte prix*/
#prix
{
	color:white;
}


/*position du pied de page*/
#findepage
{
	bottom:0;
}
@media only screen and (max-device-width:800px)
{
	/* permet d'afficher le menu déroulant sur téléphone*/
	nav {display:inline-block;}
	
	
	/*repositionne le pied de page*/
	#findepage {bottom:-40%;}
	
	
	/*repositionne et redimensionne le carré central*/
	#carre
	{
		width:75%;
		height:100%;
		background-color:rgba(0,0,0,0.8);
		margin:auto;
		position:absolute;
		top:22%;
		left: 10%;
		z-index:1;
		border-radius:0.5em;
		border: 3px white solid;
	}
	
	
	/*repositionne et redimensionne le bouton valider*/
	#validation
	{
		position:relative;
		top:5vh;
		left:20%;
		border-radius : 0.5em;
		font-family: 'Orbitron', sans-serif;
		background-color : #6E6E6E;
		border-color : #6E6E6E;
		color :white;
	}
	#validation:hover
	{
		height : 5vh;
		background-color : #DF013A;
	}
}