#carre{
	width:50%;
	height:70%;
	background-color:rgba(0,0,0,0.8);
	margin:auto;
	position:relative;
	top:15%;
	left: 5%;
	z-index:1;
}

#cp{
	color:white;
	text-align:center;
	font-size : 25px;
	font-family: 'Roboto Condensed', sans-serif;
}

label {
	color:white;
	font-family: 'Roboto Condensed', sans-serif;
}
form p{
		color:white;
		margin-left:20px;
		
}

#garniture label {
	display:inline-block;
	margin:20px;
}
#garniture input{
	display:inline;
	
}
#taille {
	text-align:center;
	font-size:20px;
	font-family: 'Roboto Condensed', sans-serif;
}
#garniture{
	font-size:20px;
	font-family: 'Roboto Condensed', sans-serif;
}
#validation{
	position:relative;
	top:30px;
	left:70%;
	height:30px;
	border-radius : 0.5em;
	font-family: 'Orbitron', sans-serif;
	background-color : #6E6E6E;
	border-color : #6E6E6E;
	color :white;
	
}
#validation:hover {
	height : 35px;
	color : #DF013A;
}
	