
#carre{
	width:50%;
	height:500px;
	background-color:rgba(0,0,0,0.8);
	margin:auto;
	position:relative;
	top:15%;
	left: 5%;
	z-index:1;
}

#promo_reine { height : 200px; 
width : 250px;
}

#carre h2{ color: white; 
font-family: 'Roboto Condensed', sans-serif;
text-align :center;
}
#promo_peperonni{height : 200px; 
width : 250px;
}
span{ display :inline-block;
margin-left: 80px;
padding:10px;
border : 3px dashed red;
border-radius:0.5em;
}
span p {
	font-size:20px;
	color: red;
	text-align:center;
}
.barrer {
	text-decoration: line-through; 
}